 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation Report</title>
    <link rel="stylesheet" href="/assets/style/style.css">
 </head>
 <body>
    
    <section>
        <header>
            <h1>This Maker Barcode For Validator Report Kamindo</h1>
        </header>
    </section>
    <div class="properties">
        <form action="">
            <label for="owner">Report Owner</label>
            <input class="owner" placeholder="Report Owner" type="text">
            <label for="nomer">Report No</label>
            <input class="nomer" placeholder="Report Nomer" type="text">
            <label for="date">Report Date</label>
            <input class="date" placeholder="Report Date" type="date">
            <label for="version">Report Version</label>
            <input class="version" placeholder="Report Version" type="text">
            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>
        <p>*Document data Will be shown above if the document is verified by PT. Karya Mulia Indonesia.</p>
    </div>

    <section class="footer">
    </section>

 </body>
 </html>